<!---------------------  NAVIGATION BAR ----------------------->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">
      <a href="{{ url_for("index") }}"
        ><button class="btn btn-info">Healthcare Potential Fraud</button></a
      >
    </div>
    <div class="collapse navbar-collapse" id="navbarsupport">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="index.html"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Data
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for("inpatient") }}">Inpatient</a>
            <a class="dropdown-item" href="{{ url_for("outpatient") }}">Outpatient</a>
            <a class="dropdown-item" href="{{ url_for("potential_fraud") }}">Potential Fraud</a>
            <a class="dropdown-item" href="{{ url_for("beneficiary") }}">Beneficiary</a>
          </div>
        </li>
        <div class="navbar-brand"></div>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="index.html"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Analysis
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="by_state.html">Fraud by State</a>
            <a class="dropdown-item" href="common_codes.html"
              >Most Common Procedure Codes</a
            >
          </div>
        </li>
        <div class="navbar-brand"></div>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for("erd") }}"
            >ERD <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <!---------------------  NAVIGATION BAR ----------------------->