{% extends "wrapper.html" %}

{% block title %}
| Common Procedure and Diagnosis Codes for Potential Fraud
{% endblock %}

{% block content %}

<h1 class="my-4">Matplotlib Visualizations</h1>
<h3>Top 10 Diagnosis Codes for Potential Fraud </h3>
<img class="img-fluid my-2" src="{{ url_for('static',filename="top-10-diagnoses.png") }}" alt="Matplotlib of common diagnosis codes">
<h3>Top 10 Procedure Codes for Potential Fraud </h3>
<img class="img-fluid my-2" src="{{ url_for('static',filename="top-10-procedures.png") }}" alt="Matplotlib of common procedure codes">

<h1 class="my-4">Tableau Visualization</h1>
<img class="img-fluid my-2" src="{{ url_for('static',filename="Top10_Diagnosis-and-Procedure-Codes.png") }}" alt="Tableau Visualization of common diagnosis and procedure codes">

{% endblock %}